<h1><%= @restaurant.name %></h1>
<span><strong>Category: </strong><%= @restaurant.category.titleize %></span>
<br>
<%= link_to "Back", restaurants_path %> 
| 
<%= link_to restaurant_path(@restaurant),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <%= icon('far', 'trash-alt') %> Delete <%= @restaurant.name %>
            <% end %>
<%= link_to "+ Add review", new_restaurant_review_path(@restaurant)  %>
<p><small><%= @restaurant.address %></small></p>
<hr>
<h3>Reviews</h3>
<ul>
<% @reviews.each do |review| %>
  <li class="list-group-item">
    <%= review.content %>
    <%= link_to "Remove",
            review_path(review),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>
